In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('INSTRUCTORS.db')
cursor_obj = conn.cursor()

cursor_obj.execute("""DROP TABLE IF EXISTS INSTRUCTORS""")

In [3]:
command1 = """create table IF NOT EXISTS INSTRUCTORS(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

cursor_obj.execute(command1)

print("It is done!")

It is done!

In [4]:
cursor_obj.execute('''insert into INSTRUCTORS values (001, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')
cursor_obj.execute('''insert into INSTRUCTORS values (002, 'Kayode', 'Mark', 'LAGOS', 'NG')''')

In [5]:
statement = '''SELECT * FROM INSTRUCTORS'''
cursor_obj.execute(statement)

output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)
print("All the data")

(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Kayode', 'Mark', 'LAGOS', 'NG')
All the data

In [6]:
cursor_obj.execute('''update INSTRUCTORS set CITY = 'IBADAN' where ID = 002''')

In [7]:
import pandas as pd

df = pd.read_sql_query("select * from INSTRUCTORS", conn)

print(df)

   ID   FNAME  LNAME     CITY CCODE
0   1     Rav  Ahuja  TORONTO    CA
1   2  Kayode   Mark   IBADAN    NG

In [8]:
df.FNAME[1]

'Kayode'

In [9]:
df.shape

(2, 5)

In [ ]:
conn.close()